* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: aliceblue;
}
.navbar > img {
    height: 50px;
}
.links ul{
    display: flex;
    justify-content: space-between;
    min-width: 200px;
}
.links ul li {
    list-style: none;
    padding: 0px 5px;
    margin: 0px 5px;
    cursor: pointer;
    height: 100%;
    position: relative;
}
.links ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0%;
    background: red;
    transition: 300ms;
}
.links ul li:hover::after{
    left: 0;
    width: 100%;
}
.links ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}