@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;300;500;600;700;800;900&display=swap');
*{
   margin: 0;
   padding: 0;
}
.main{
   width: 100%;
   height: 150px;
   background-color: #7cacf0;
} 
.navbar{
   width: 100%px;
   margin: auto;
   padding: 10px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.icon{
   width: 100px;
   float: left;
   height: 50px;
}
.logo{
   color: #4963cd;
   font-size: 35px;
   font-family: Arial;
   padding-left: 20px;
   float: left;
   padding-top: 10px;
}
.navbar ul li{
   list-style: none;
   display: inline-block;
   margin: 0 20px;
   position: relative;
}
.navbar ul li a{
   text-decoration: none;
   color: #0b4a7e;
   font-family: Arial;
   text-transform: uppercase;    transition: 0.4s ease-in-out;
}
.navbar ul li a:hover{
   color: #0b4ba5;
}
.navbar ul li::after{
   content: '';
   height: 3px;
   width: 0;
   background: #3e49e6;
   position: absolute;
   left: 0; bottom: -10px;
   transition: 0.5s;
}
.navbar ul li:hover::after{
   width: 100%;
}
.content{
   width: 100%;
   position: absolute;
   top: 20%;
   text-align: center;
   color: rgb(59, 153, 211);
}
.content h1{
   font-size: 70px;
   margin-top: 10px;
}
.content p{
   margin: 20px auto;
   font-weight: 100;
   line-height: 25px;
}
.info {
   text-align: center;
   position: absolute;
   top:50%;
}
